*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100vh;
    width: 40vw;
}
body{background-color: #2f2f2f;}

.rightside p{
    width: 30vw;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:#FFcb74
}
ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

.rightside{

    padding: 5vh 10vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFcb74;
    background-color: #2f2f2f;
    gap: 4rem;
}

#content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.menu{

    padding: 5vh 10vw;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #FFcb74;
    background-color: #2f2f2f;
    gap: 4rem;
}
.pratos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    
}
.prato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f6f6f6;
}

.contatos{

    padding: 5vh 10vw;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #FFcb74;
    background-color: #2f2f2f;
    gap: 4rem;
}
.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    
}